.icone-redes{
    width: 25px;
}
.linha-user{
    width: 98%;
    height: 1px;
    background-color: rgb(0, 105, 105);
}
.linha-funcoes{
    width: 98%;
    height: 1px;
    background-color: rgb(0, 105, 105);
}















.menu-container-user{
    width: 350px;
    height: 570px;

    background-color: rgb(0, 24, 24);
    border: 1px solid rgb(0, 105, 105);
    filter: drop-shadow(0px 0px 5px rgba(0, 253, 190, 0.301));
    border-radius: 5px;

    margin: auto;
    
}

.menu-usuario{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


/* NOME DO USUARIO */
.nome-usuario{
    width: 95%;
    min-width: 95%;

    background-color: rgb(0, 37, 37);
    color: white;

    text-align: center;
    border-radius: 5px;
    padding: 10px 0px;
}
.nome-usuario h1{
    filter: drop-shadow(-2px -2px 2px rgba(0, 194, 168, 0.432));

}


/* IMAGEM DO USUARIO */
.imagem-usuario{
    width: 95%;
    min-width: 95%;

    border-radius: 5px;

    text-align: center;
}
.imagem-usuario img{
    filter: drop-shadow(0px 0px 5px rgba(128, 128, 128, 0.527));
}


/* DESCRIÇÃO DO USUARIO */
.menu-descricao{
    width: 95%;
    min-width: 95%;

    color: white;

    border-radius: 5px;
    padding: 0px 5px;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* MENU SOBRE FUNÇÕES DO USUARIO */
.menu-funcao{
    width: 95%;
    min-width: 95%;

    color: white;

    padding: 0px 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;

}


/* MENU REDES SOCIAIS */
.menu-redes{
    width: 100%;
    min-width: 100%;

    color: white;

    padding: 0px 5px;

    display: flex;
    justify-content: center;
    gap: 5px;
}
.redes{
    display: flex;

    align-items: center;
    gap: 5px;

    border-radius: 5px;

    background-color: rgb(0, 32, 32);
    padding: 5px 10px;
}
.redes a{
    display: flex;

    align-items: center;
    gap: 5px;

    border-radius: 5px;
    color: white;

}





















/* FUNÇÕES */

.menu-container-funcoes{
    width: 430px;
    height: 300px;

    background-color: rgb(0, 24, 24);
    border: 1px solid rgb(0, 105, 105);
    filter: drop-shadow(0px 0px 5px rgba(0, 253, 190, 0.301));

    border-radius: 5px;

    margin: auto;
}
.menu-funcoes{
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.menu-funcoes-programador{
    width: 97%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-funcoes-organizador{
    width: 97%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-funcoes p{
    font-size: 16px;
}
.menu-funcoes h2{
    filter: drop-shadow(-2px -2px 2px rgba(0, 194, 168, 0.432));
}

















































/* TWITTER */

.menu-container-twitter{
    width: 300px;
    height: 410px;

    background-color: rgb(0, 24, 24);
    border: 1px solid rgb(0, 105, 105);
    filter: drop-shadow(0px 0px 5px rgba(0, 253, 190, 0.301));
    
    border-radius: 5px;
    margin: auto;

}
.menu-twitter{
    width: 100%;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/* MENU DO TITULO */
.menu-titulo-twitter{
    width: 95%;
    min-width: 95%;

    background-color: rgb(0, 32, 32);
    color: white;

    text-align: center;
    border-radius: 5px;
    padding: 10px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu-titulo-twitter img{
    width: 40px;
    animation: patinho 5s ease-in-out infinite;
}
.menu-container-twitter h1{
    filter: drop-shadow(-2px -2px 2px rgba(0, 194, 168, 0.432));
}

@keyframes patinho{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}