*{
    margin: 0;
    padding: 0;
    font-family: 'Questrial'; 
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(0, 32, 32);
}

.container{
    width: 70%;
    height: 100%;
    
    margin: auto;
}
.linha{
    width: 75%;
    height: 1px;
    background-color: rgb(0, 105, 105);
    margin: 0 auto;
}







/* HEADER */

header{
    width: 100%;
    height: 10vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.header-menu{
    display: flex;
    align-items: center;
}
.header-menu nav ul{
    display: flex;
    gap: 50px;
    height: 100%;
}
.header-menu nav ul li a{
    color: white;

    transition: all 0.1s linear;
}
.header-menu nav ul li a:hover{
    filter: drop-shadow(0px -2px 1px rgb(128, 128, 128));
}










/* MEXENDO NO SUB MENU */

.menu-projetos p{
    color: white;
    cursor: pointer;

}
.menu-projetos p:hover{
    filter: drop-shadow(0px -2px 1px rgb(128, 128, 128));
}

.menu-divisao{
    width: 130px;
    height: 60px;
    display: none;

    background-color: rgb(241, 241, 241);
    filter: drop-shadow(2px 2px 1px rgb(138, 138, 138));
    border: 5px solid transparent;
    border-radius: 5px;

    position: absolute;
    z-index: 10;
}
.menu-divisao a{
    color: rgb(0, 20, 20);
    font-weight: 900;
    
    padding: 3px 0px;
    border-radius: 5px;

    text-align: center;
    transition: all 0.2s linear;
}
.menu-divisao a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 20, 20);
}
.menu-projetos:hover .menu-divisao{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5px;
}










/* MAIN */

.section{
    width: 100%;
    height: 60vh;
    background-color: rgb(0, 39, 39);
}
.section-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nome-rilords{
    font-size: 100px;
}
.menu-palavras{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-palavras p{
    font-size: 18px;
}








/* FOOTER */

.footer{
    width: 100%;
    height: 29.5vh;
}
.footer-menu{
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    font-size: 14px;
    color: white;
}








.teste{
    animation: wired 1.5s ease-in-out infinite;
    filter: drop-shadow(0px 0px 5px rgba(0, 253, 190, 0.301));

}

@keyframes wired{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(10px);
    }
    100%{
        transform: translatey(0px);

    }
}